<h1>About Us</h1>
<p>
    TelemetryWeb is the only web device integration platform designed for business. Begin prototyping
    your device connectivity in ten minutes. Design and deploy a production-quality website for
    your users in as little as a day. Let us handle the organizational security, data storage, and
    integration with other systems. You don't need to know how to manage a database or handle backups.
    If you are building a device that can send data over the web, TelemetryWeb can help you get your product 
    to market fast.
</p>
<p>
    The <a href="http://www.telemetryweb.com/">TelemetryWeb Home Monitor Tutorial</a>
    is an open-source project which demonstrates how easy it is to bring your web-enabled 
    device to market using TelemetryWeb.
</p>
<p>
    This website is a fully-functional application that works with a Home Monitor device to 
    help guard your home from c 
    You may build a Home Monitor device as described in the tutorial and register
    it on this website. Or, you may download the complete Ruby on Rails source code for this
    web application and modify it for the device of your choice.
</p>
